<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="defaultEnumTypeHandler" value="org.apache.ibatis.type.EnumTypeHandler"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Agent" type="org.example.entity.Agent"/>
        <typeAlias alias="Metric" type="org.example.entity.Metric"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="poolPingQuery" value="select 1"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingConnectionsNotUsedFor" value="7200000"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.testcontainers.jdbc.ContainerDatabaseDriver"/>
                <property name="url" value="jdbc:tc:mysql:8.0.31://test?TC_INITSCRIPT=file:src/test/resources/init.sql"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/AgentMapper.xml"/>
        <mapper resource="mybatis/MetricMapper.xml"/>
        <mapper resource="mybatis/AgentMetricMapper.xml"/>
    </mappers>

</configuration>
